<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="">
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compactible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GoogleFTM</title>
	<link rel="icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="./assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="./assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/plugins/font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>
	<body>
<!--		section for the landing page-->
		<section class="landing">
			<div class="container-fluid">
				<div class="row">
						<a class="git_link text-center" href="https://github.com/attaab/GoogleFTM/"><i class="fa fa-github"></i></a>
					<div class="welcome_logo img-responsive">
						<div class="logo">
							<img class="img-responsive" alt="google FTM logo" src="./assets/img/google.png">
							<span class="logo_sub">FTM</span>
							</div>
						</div>
					<br/>
					<br/>
					<p class="text-center">
						<span class="intro_text">
						<span>a fast, robust, Email</span><br/> FILE TRANSFER MANAGER<br/> exclusive to Gmail users
						</span>
						<br/>
						<br/>
						<a href="#"><img class="login_img img-responsive" src="./assets/img/signin.png" width="250px" height="50px"></a>
					</p>
				</div>
			</div>
		</section><hr>
<!--		End of section for the landing page-->
		
		
		 <!-- =====================Footer=============== -->
     	<footer class="footer">
         <div class="container">
             <section>
    <ul>
      <li><h3>Help</h3></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Help Center">Help Center</a></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Help Forum">Help Forum</a></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Video Tutorials">Video Tutorials</a></li>
    </ul>
    <ul>
      <li><h3>Community</h3></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Blogger Buzz">Blogger Buzz</a></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="+Blogger">+Blogger</a></li>
    </ul>
    <ul>
      <li><h3>Developers</h3></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Blogger API">Blogger API</a></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Developer Forum">Developer Forum</a></li>
    </ul>
  </section>
  <hr>
  <section class="meta">
    <ul>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Terms of Service">Terms of Service</a></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Privacy">Privacy</a></li>
      <li><a href="#" target="_blank" class="ga-footer" data-track="Content Policy">Content Policy</a></li>
    </ul>
    <div>
      <span class="copyright">Copyright © 1999 - 2017 Google</span>
    </div>
  </section>
         </div>
      </footer>
     <!-- =============END OFN FOOTER=================== -->
	</body>
</html>