body{
	background-color: #000000;
	color: white;
	overflow-x: hidden;
	margin: 0;
	font-size: 12px;
}
.landing{
	
}
footer ul {
	display: inline-block;
	list-style: none;
}
footer ul a:hover {
	color: lightgreen;
	text-decoration: none;
}
.welcome_logo{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
}
.logo_sub{
	margin: 0 auto;
	margin-left: 73%;
	margin-top: -50% !important;
	font-size: 40px;
}
.logo{
	
}
.intro_text{
	padding-top: 100px;
	font-size: 20px;
}
.login_btn{
	border: 0px;
	padding: 0px;
	text-align: center !important;
	
}
.login_img{
	margin: 0 auto !important;
}
.git_link{
	font-size: 50px;
	margin: 0 auto;
	float: right;
}
.row {
	margin: 0px !important;
}
.login{
	float: right;
	font-size: 14px;
	margin-right: 20px;
	padding-top: 20px;
}
a:hover {
	text-decoration: none;
	color: white;
}
.register_class{
	font-size: 20px;
}

@media screen and (max-width > 680px) {
	row: 0px;
};